*.pyc
doc/build/
/dist
MANIFEST
.DS_Store
*/.DS_Store
*.traj
*.cube
*.png
/build
/ase.egg-info
/ase/db/static/jsmol
doc/ase/dft/bztable.rst
doc/tutorials/deltacodesdft/fit.json
doc/ase/io/formatoptions.rst
examples/tutorials/*.db
examples/tutorials/*.ini
examples/tutorials/*.png
examples/tutorials/*.pov

# Editor backup files
*~

# Ignore PyCharm settings
.idea/

# Ignore VS Code settings
.vscode/

# Vim swap files:
.*.sw?

# Translation template
ase/gui/po/ag.pot

# Pytest and code coverage:
.cache
.coverage
coverage-html

.mypy_cache

# Sphinx-gallery files
examples_generated
sg_execution_times.rst

#
examples/*.csv
examples/*.json

learn.py